/* General */
*{
    margin: 0;
    padding: 0;
}
body{
   font-family: "Roboto", sans-serif;
}
header.index{
    text-align: center;
    background-color: black;
    padding: 1%;
}
/* General */
/* Login */

header.logo_login{
    padding: 20px 0px 0px 50px;
}
body.login{
    background-image: url(../img/background_login.jpg); 
    background-color: rgb(0, 0, 0,0.55);
    background-blend-mode: soft-light;
    display: grid;
    grid-template-rows: 90px 750px 1fr;
}
h1.login{
    color: white;
    font-size: 32px;
    margin: 0px 0px 28px;
}
div.login_ingreso_de_datos{
    border-radius: 3px;
    background-color: rgb(0, 0, 0,0.75);
    width: 450px;
    height: 660px;
    margin: auto;
}
section.login_distribucion{
    display: grid; 
    width: 314px;
    height: 550px;
    margin: auto;
}
article.login_form{
    margin-top: 60px;
    color: black;
    background-color:rgba(0, 0, 0, 0);
}
input.input_login{
    background-color: rgb(201, 201, 201);
    display: flex;
    width: calc(100% - 20px);
    outline: none;
    border: 0px;
    padding: 24px 0px 8px 20px;
    border-radius: 4px;
    font-size: medium;
    margin-bottom: 16px;
}
label.label_login{
    font-size: 11px;
    position: absolute;
    margin: 8px 0px 0px 20px;
}
article.login_suscripcion{
    color: #737373;
    font-size: small;
}
button.iniciar_sesion_login{
    font-size:14px;
    font-weight: bold;
    color: aliceblue;
    background-color: #e50914;
    margin-top: 24px;
    margin-bottom: 12px;
    border: 0px;
    width: 100%;
    padding: 16px 0px;
    border-radius: 4px;
}
a.vinculo_sub{
    font-size: 16px;
    text-decoration: none;
    color: white;
}
div.password_login{
    font-size: 13px;
    color: #737373;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
p.recuperar_pass{
    text-align: end;
}
a.recuperar_pass{
    color: #737373;
    text-decoration: none;
}
@media(max-width: 740px){
    header.logo_login{
        padding: 0;
        margin: auto;
    }
    body.login{
    background-color: rgb(0, 0, 0);
    }
    div.login_ingreso_de_datos{
        width: 100%;
        border-bottom: #707070 4px solid;
    }
}
/* Login */
/* footer */
div.footer_origin{
    height: 240px;
    background-color: rgb(0, 0, 0,0.75);
    color: #737373;

}

ul.informacion_footer{
    padding-left: 5%;
    margin: auto;
    width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}
li.li_login{
    list-style: none;   
}
a.li_login{
    font-size: 13px;
    color: #737373;
    text-decoration: none;
}
p.numero_servicio{
    padding-left: 5%;
    padding-top: 30px;
    margin: auto;
    width: 1000px;
    padding-bottom: 30px;
}
@media(max-width: 1000px){
    p.numero_servicio{
        width: 95%; 
    }
    ul.informacion_footer{
        width: 95%;
    }

}
/* footer */
/* Estilos js */
div.error{
    color: #e50914;
    
}
p.alerta{
    color: #e50914;
}
/* Estilos js */
/* Password */
body.recuperacion{
    background-image: url(../img/fondo_password.jpg);
    background-size:cover;
    display: grid;
    grid-template-rows: 90px 750px 1fr;
}
h1.recuperar{
    color: #333333;
    font-size: 32px;
    font-weight: 100;
    margin-bottom: 8px;
}
div.recuperar_ingreso_de_datos{
    background-color: #F3F3F3;
    width: 450px;
    height: 660px;
    margin: auto;
}
label.label_recuperar_mail{
    font-size: 11px;
    position: absolute;
    margin: 8px 0px 0px 20px;
}
input.label_recuperar_mail{
    display: flex;
    width: calc(100% - 20px);
    outline: none;
    border: 0px;
    padding: 24px 0px 8px 20px;
    border-radius: 4px;
    border: #707070 1px solid;
    font-size: medium;
    margin-bottom: 16px;
}
p.recuperar{
    margin-bottom: 36px;
    color: #707070;
    font-size: 13px;
}
div.recuperar_datos_button{
    display: flex;
    justify-content: space-between;
}
button.recuperar_datos_button{
    height: 30px;  
    width: 90px;
    color: #F3F3F3;
    background-color: #0080FF;
    border: none;
    box-shadow: 0 0 3px 1px rgb(136, 136, 136,0.40);
    border-radius: 4px;
    margin-bottom: 14px;
}
button.recuperar_datos_button:hover{
    background-color: #0072e4;

}

@media (max-width: 740px){
    div.recuperar_ingreso_de_datos{
        width: 100%;
        border-bottom: #707070 4px solid;
        border-top: #707070 4px solid;
    }

}

